profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    database = "FreeSolv"
    output_folder = "$projectDir/results"

    // Set the containers to use for each component
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"


    // BioBB containers
    container__biobb_amber = "quay.io/biocontainers/biobb_amber:4.1.0--pyhdfd78af_0"
    container__openff_toolkit = "go2432/openff-toolkit:0.14.4"

}